<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474210245873-u6gj5j58vkn27m6p94uf4o5bt7c353k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474210245873-u6gj5j58vkn27m6p94uf4o5bt7c353k8</string>
	<key>API_KEY</key>
	<string>AIzaSyA_mlplGXS-w5_mZFz50DftM-o28bJOvmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>474210245873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.olamideibiloye.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ef9b8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ef9b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474210245873:ios:b5a2fcab760a4631b99d50</string>
</dict>
</plist>